* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

main {
  max-width: 50em;
  padding: 0 1em;
  margin: 0 auto;
}

/* Styling loading bar */

.loading {
  /* background: #e7f1f3; */
  /* instead of solid colour in the background we'll use a gradient for later animation */
  background: linear-gradient(100deg, #e7f1f3 30%, #f2f7f8 50%, #e7f1f3 70%);
  color: transparent;
}
